name: Build and upload artifacts

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  # Validate that the git tag matches the version string in Cargo.toml.
  check-release-version:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Compare crate version against Git tag
      shell: bash
      run: |
        pkg_version=$(cargo pkgid | cut --delimiter=# --field=2 | cut --delimiter=@ --field=2)

        if [ "v$pkg_version" != "${{ github.ref_name }}" ]; then
          echo "Version $pkg_version, defined in Cargo.toml, does not match TAG ${{ github.ref_name }} of this release";
          exit 3;
        fi

  # Build binaries for several platforms.
  # The artifacts this build produces are used by other jobs.
  build-release:
    needs: [check-release-version]
    strategy:
      matrix:
        include:
          # Linux hosts
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          # MacOS hosts
          - target: x86_64-apple-darwin
            os: macos-latest
          # Windows hosts
          - target: x86_64-pc-windows-msvc
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Fetch Rust toolchain
      uses: dtolnay/rust-toolchain@1.74.0

    - name: Compile release binary
      run: cargo build --release --target=${{ matrix.target }}

    - name: Collect binary in artifacts/ folder
      shell: bash
      run: |
        cp \
          --verbose \
          "./target/${{ matrix.target }}/release/cargo-ktra-login"  \
          "cargo-ktra-login-${{ github.ref_name }}-${{ matrix.target }}"

        tar \
          --create \
          --gzip \
          --verbose \
          --remove-files \
          --file "cargo-ktra-login-${{ github.ref_name }}-${{ matrix.target }}.tar.gz" \
          "cargo-ktra-login-${{ github.ref_name }}-${{ matrix.target }}"

    - name: Make artifacts/ folder available to other jobs
      uses: actions/upload-artifact@v4
      with:
        name: artifact-${{ matrix.target }}
        path: cargo-ktra-login-${{ github.ref_name }}-${{ matrix.target }}.tar.gz
        if-no-files-found: error

  # Publish the binaries to Github releases, including autogenerated release notes.
  publish-binaries-to-github-releases:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: [build-release]
    steps:
    - uses: actions/download-artifact@v4
      with:
        path: artifacts/
        pattern: artifact-*
        merge-multiple: true

    - name: Upload binaries and release notes to Github releases
      uses: softprops/action-gh-release@v1
      with:
        files: artifacts/cargo-ktra-login-*
        fail_on_unmatched_files: true
        generate_release_notes: true
